* {
    box-sizing: border-box;
  }
  
  /* Set CSS Colors */
  :root {
    --white: #ffffff;
    --lightgray: #ededed;
    --red: #FE0703;
    --green: #1A8310;
    --pink: #AF7AC5;
    --gray: #8ca2a5;
    --darkblue: #497980;
    --darkerblue: #34495E;
    --black: #000000;
  }
  
  /* Body Style */
  body {
    background: var(--lightgray);
    color: var(--black);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* Header Styles */
  .header {
    display: flex; 
    width: 100%; 
    padding: 30px 25px; 
    background-color: var(--darkerblue); 
    border-bottom: 5px solid var(--darkblue); 
    color: var(--white);
  }

  h2 {
    font-size: 30px;
  }

  .highscore {
    flex: 1; 
    text-align: left; 
    color: var(--white);
    font-size: 20px;
  }

  .time {
    flex: 1; 
    text-align:right; 
    color: var(--white);
    font-size:20px;
  }

  .h1 {
    margin: auto; 
    margin-bottom: 0; 
    margin-top: 30px; 
    width:60%; 
    text-align:center;
  }

  .h1-questions {
    margin: auto; 
    margin-bottom: 0; 
    margin-top: 30px; 
    width:60%; 
    text-align:left;
  }
  
  /* Quiz Styles */
  .quiz {
    white-space: pre-line; 
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:left; 
    height: 200px;
    font-size: 20px;
  }

  .quiz-index {
    white-space: pre-line; 
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:center; 
    height: 200px;
    font-size: 20px;
  }

  .quiz-initials {
    background-color: var(--lightgray) ;
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:center; 
    height: 200px;
    font-size: 20px;
  }

  /* Button Styles */
  .button {
    margin:auto; 
    margin-top: 20px; 
    width:15%; 
    text-align:center; 
    height: 30px; 
    background-color: var(--darkerblue); 
    color: var(--white); 
    border: 2px solid var(--gray); 
    border-radius: 15px;
    font-size: 20px;
  }

  .button:hover { 
    background-color: var(--darkblue); 
    color: var(--white); 
    border: 2px solid var(--darkerblue); 

  }

  .button-long {
    margin:auto; 
    margin-top: 20px; 
    width:25%; 
    text-align:center; 
    height: 30px; 
    background-color: var(--darkerblue); 
    color: var(--white); 
    border: 2px solid var(--darkblue); 
    border-radius: 15px;
    font-size: 20px;
  }

  .button-long:hover {
    background-color: var(--darkblue); 
    color: var(--white); 
    border: 2px solid var(--darkerblue); 
  }

  .finalbutton { 
    margin-top: 20px; 
    width:15%; 
    text-align:center; 
    height: 30px; 
    background-color: var(--darkerblue); 
    color: var(--white); 
    border: 2px solid var(--darkblue); 
    border-radius: 15px;
    font-size: 20px;
  }

  .finalbutton:hover { 
    background-color: var(--darkblue); 
    color: var(--white); 
    border: 2px solid var(--darkerblue);

  }

  .submit-button {
    flex:1;
    margin-top: 20px; 
    width:15%; 
    text-align:center; 
    height: 30px; 
    background-color: var(--darkerblue); 
    color: var(--white); 
    border: 2px solid var(--darkblue); 
    border-radius: 15px;
    font-size: 20px;
    
  }

  .submit-button:hover {
    background-color: var(--darkblue); 
    color: var(--white); 
    border: 2px solid var(--darkerblue);
    
  }

  /* Answer Styles */
  .answer {
    margin:auto; 
    margin-top: 20px; 
    width:25%; 
    text-align:left; 
    height: 30px; 
    background-color: var(--darkerblue); 
    color: var(--white); 
    border: 2px solid var(--darkblue); 
    border-radius: 5px;
    font-size: 20px;
  }

  .answer:hover {
    background-color: var(--pink);
    color: var(--black);
  }

  .wrong {
    margin:auto; 
    margin-top: 20px; 
    width:100%; 
    text-align:left; 
    height: 30px; 
    color: var(--red); 
    font-size: 20px;
    font-style: italic;
  }

  .correct {
    margin:auto; 
    margin-top: 20px; 
    width:100%; 
    text-align:left; 
    height: 30px; 
    color: var(--green); 
    font-size: 20px;
    font-style: italic;
  }
  
/* Utility Styles */
  .final-score { 
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:left; 
    height: 200px;
    font-size: 20px;
  }

  .initial-text {
    flex: 1; 
    width: 16%;
    text-align:left; 
    color: var(--black);
    font-size:20px;
  }

  .input {
    flex: 1; 
    margin-right: 20px;
    width: 30%; 
    color: var(--black);
    font-size:20px;
  }

  