* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --white: #ffffff;
    --black: #000000;
  }
  
  body {
    background: #ededed;
    color: var(--black);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .header {
    display: flex; 
    width: 100%; 
    padding: 30px 25px; 
    background-color: #34495E; 
    border-bottom: 5px solid #497980; 
    color: #ffffff;
  }

  h2 {
    font-size: 30px;
  }

  .highscore {
    flex: 1; 
    text-align: left; 
    color: #ffffff;
    font-size: 20px;
  }

  .time {
    flex: 1; 
    text-align:right; 
    color: #ffffff;
    font-size:20px;
  }

  .h1 {
    margin: auto; 
    margin-bottom: 0; 
    margin-top: 30px; 
    width:60%; 
    text-align:center;
  }

  .h1-questions {
    margin: auto; 
    margin-bottom: 0; 
    margin-top: 30px; 
    width:60%; 
    text-align:left;
  }
  
  .quiz {
    white-space: pre-line; 
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:left; 
    height: 200px;
    font-size: 20px;
  }

  .quiz-index {
    white-space: pre-line; 
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:center; 
    height: 200px;
    font-size: 20px;
  }

  .quiz-initials {
    background-color: #E2E3E2 ;
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:center; 
    height: 200px;
    font-size: 20px;
  }

  .button {
    margin:auto; 
    margin-top: 20px; 
    width:15%; 
    text-align:center; 
    height: 30px; 
    background-color: #34495E; 
    color: #ffffff; 
    border: 2px solid #497980; 
    border-radius: 15px;
    font-size: 20px;
  }

  .button:hover { 
    background-color: #497980; 
    color: #ffffff; 
    border: 2px solid #34495E; 

  }

  .button-long {
    margin:auto; 
    margin-top: 20px; 
    width:25%; 
    text-align:center; 
    height: 30px; 
    background-color: #34495E; 
    color: #ffffff; 
    border: 2px solid #497980; 
    border-radius: 15px;
    font-size: 20px;
  }

  .button-long:hover {
    background-color: #497980; 
    color: #ffffff; 
    border: 2px solid #34495E; 
  }

  .answer {
    margin:auto; 
    margin-top: 20px; 
    width:25%; 
    text-align:left; 
    height: 30px; 
    background-color: #34495E; 
    color: #ffffff; 
    border: 2px solid #497980; 
    border-radius: 5px;
    font-size: 20px;
  }

  .answer:hover {
    background-color: #AF7AC5;
    color: #000000;
  }

  .wrong {
    margin:auto; 
    margin-top: 20px; 
    width:100%; 
    text-align:left; 
    height: 30px; 
    color: #FE0703; 
    font-size: 20px;
    font-style: italic;
  }

  .correct {
    margin:auto; 
    margin-top: 20px; 
    width:100%; 
    text-align:left; 
    height: 30px; 
    color: #1A8310 ; 
    font-size: 20px;
    font-style: italic;
  }
  
  .finalbutton { 
    margin-top: 20px; 
    width:15%; 
    text-align:center; 
    height: 30px; 
    background-color: #34495E; 
    color: #ffffff; 
    border: 2px solid #497980; 
    border-radius: 15px;
    font-size: 20px;
  }

  .finalbutton:hover { 
    background-color: #497980; 
    color: #ffffff; 
    border: 2px solid #34495E;

  }

  .final-score { 
    margin:auto;
    margin-top: 0px; 
    width:60%; 
    text-align:left; 
    height: 200px;
    font-size: 20px;
  }

  .initial-text {
    flex: 1; 
    width: 16%;
    text-align:left; 
    color: #000000;
    font-size:20px;
  }

  .input {
    flex: 1; 
    margin-right: 20px;
    width: 30%; 
    color: #000000;
    font-size:20px;
  }

  .submit-button {
    flex:1;
    margin-top: 20px; 
    width:15%; 
    text-align:center; 
    height: 30px; 
    background-color: #34495E; 
    color: #ffffff; 
    border: 2px solid #497980; 
    border-radius: 15px;
    font-size: 20px;
    
  }

  .submit-button:hover {
    background-color: #497980; 
    color: #ffffff; 
    border: 2px solid #34495E;
    
  }